{
    "Agent-Input\\ssi\\pipes\\all-in-one-final\\all-in-one-final.pipeline-config": {
        "vad:threshold": "0.01",
        "log:use": "false",
        "log:screen": "false",
        "log:screen:region": "-1080,0,1080,1920",
        "sender:template": "all-in-one-final"
    },
    "Agent-Input\\ssi\\models\\face\\caffe.cfg": {
        "mode": "GPU"
    },
    "Agent-Input\\ssi\\pipes\\all-in-one-final\\asrkaldi.pipeline-config": {
        "asr:port": "8888",
        "asr:mode": "utt",
        "asr:host": "localhost",
        "asr:nbest": "5"
    }
}