# You can comment lines in this file by placing # symbol 
# followed by a space in front of a line. Have fun!
# use > followed by one of: (appearance, geometric, fused) to set the classification mode
> appearance
NTRL ModelEmotion0CK+MMI.txt NTRL.indxs 0.0 1.0
ANGE ModelEmotion1CK+MMI.txt ANGE.indxs 0.0 1.0
DISG ModelEmotion2CK+MMI.txt DISG.indxs 0.0 1.0
FEAR ModelEmotion3CK+MMI.txt FEAR.indxs 0.0 1.0
HAPP ModelEmotion4CK+MMI.txt HAPP.indxs 0.0 1.0
SADN ModelEmotion5CK+MMI.txt SADN.indxs 0.0 1.0
SURP ModelEmotion6CK+MMI.txt SURP.indxs 0.0 1.0